<% if item.errors.any? %>
  <div class="bg-danger">
  <p><%= pluralize(item.errors.count, "error") %> prevented this record from being saved:</p>
  <ul>
    <% item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>
