<div class="page-header">
<div class="pull-right">
  <%= link_to 'Edit', edit_project_path(@project), class:"btn  btn-primary" %>
  <%= link_to "Delete", @project, class:"btn  btn-danger", method: :delete %>
</div>
<h1><%= @project.name %></h1>
</div>
